*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
}

.container{
    background:url(imagens/background.webp);
    background-size: cover;
    height: 100vh;

    position: relative;
}

.iframes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.redes-sociais{
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
}

.redes-sociais img{
    height: 50px;
    width: 50px;
    border-radius: 50%;

    cursor: pointer;
    transition: transform 0.5s;
}

.redes-sociais span{padding: 25px 10px 0 10px;}

.redes-sociais img:hover{
    transform: translate(-4px, -2px) rotate(-6deg);
    border: 1px solid white;
}