*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

img{
    width: 100vw;
}

a{
    display: block;
    background-color: #920000;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;

    margin-top: -10px;
}

a:hover{
    background-color: #600000;
    transition: 0.5s;
}
