*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container{
    background:url(../imagens/background.webp);
    background-size: cover;
    height: 100vh;
}

.celular{
    display: block;
    height: 550px;
    margin: 0 auto;
}

/* Iframes */

iframe#tela{
    display: block;
    margin: 0 auto;

    position: relative;
    top: -484px;
    left: -1px;
    height: 418px;
    width: 238px;
}

/* Logotipos */

.redes-sociais{
    position: absolute;
    top: 50px;
    right: 0px;

    display: flex;
    flex-direction: column;
}

.redes-sociais img{
    height: 50px;
    width: 50px;
    border-radius: 50%;

    cursor: pointer;
    transition: transform 0.5s;
}

.redes-sociais a{padding: 25px 10px 0 10px;}

.redes-sociais img:hover{
    transform: translate(-4px, -2px) rotate(-6deg);
    border: 1px solid white;
}