*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container{
    background:url(../imagens/background.webp);
    background-size: cover;
    height: 100vh;
}

.iframes-container{
    background:url(../imagens/frame-iphone.png) no-repeat center;
    background-size: contain;
    height: 90vh;
}

/* Iframes */

iframe#tela{
    position: relative;
    top: 70px;
    left: 52px;
    width: 236px;
    height: 416px;
}

iframe#youtube{
    position: relative;
    top: -60px;
    left: -452px;
    width: 213px;
    height: 376px;

    z-index: 1000;
}

/* Logotipos */

.redes-sociais{
    position: absolute;
    top: 50px;
    right: 0px;

    display: flex;
    flex-direction: column;
}

.redes-sociais img{
    height: 50px;
    width: 50px;
    border-radius: 50%;

    cursor: pointer;
    transition: transform 0.5s;
}

.redes-sociais a{padding: 25px 10px 0 10px;}

.redes-sociais img:hover{
    transform: translate(-4px, -2px) rotate(-6deg);
    border: 1px solid white;
}